@import '@fontsource/raleway';
@import '@fontsource/inter';
@import './modern-css-reset.css';

:root {
	--font-serif: Arial, -apple-system, Ubuntu, sans-serif;

	--color-bg-dark: #0b1924;
	--color-text-dark: #0b1924;
}

body {
	background-color: var(--color-bg-dark);
	color: white;
}
